@model HtmlFieldCKEditorSettingsViewModel

<div class="form-group field-editor field-editor-CKEditor">
    <select asp-for="SelectedConfigurationName" asp-items="Model.Configurations" class="form-control col-sm-6">
    </select>
</div>
